<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
    {{>header}}
    {{errorMessage}}
    {{>footer}}

</body>
</html>