<!doctype html>
<html lang="fr">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/sun.png">
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Rémy Machavoine. It uses data from mapbox.com and weatherStack</p>
  </div>
  {{>footer}}
</body>
</html>