<!doctype html>
<html lang="fr">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <link rel="icon" href="/images/sun.png">
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">

  <script src="js/script.js"></script>
</head>
<body>
  <div class="main-content">
    {{>header}}
    <h1>From a about file</h1>
    <img class="portrait" src="/images/hermes.jpg">
  </div>
    {{>footer}}

</body>
</html>