<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Help</title>
  <link rel="icon" href="/images/sun.png">
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css">
</head>
<body>
    <div class="main-content">
      {{>header}}
      <h1>From a help file</h1>
      <h1>{{aide}}</h1>
    </div>
      {{>footer}}
</body>
</html>