<!DOCTYPE html>
<head>
    <title>Index</title>
    <link rel="icon" href="/images/sun.png">
    <link rel="stylesheet" type="text/css" href="CSS/styles.css">
    <script src="js/script.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get the weather</p>
        <form>
            <input type="text" name="search1" placeholder="location">
            <button type="submit">Search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <h1>{{title}}</h1>
    </div>
     {{>footer}}
     <script src="/js/app.js"></script>
</body>
</html>